.header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devModeLabel {
  margin-right: 10px;
  color: #666;
}